
<h1>work for user <%= params[:username] %></h1>

<ul>
  <% @workitems.each do |wi| %>
    <li>
      <%= link_to wi.fei.wfid, workitem_path(params[:username], wi.fei.sid) %>
      <%= wi.fields.inspect %>
    </li>
  <% end %>
</ul>

