
%h1 work for user #{params[:username]}

%i
  - if notice = flash[:notice]
    = flash.notice

%ul
  - @workitems.each do |wi|
    %li
      = link_to wi.fei.wfid, workitem_path(params[:username], wi.fei.sid)
      = wi.fields.inspect

